@import './hello/hello.scss';


$body-background: #ffffff;

body {
    background-color: $body-background;
    font-size:12px;
}


.form-control {
    height:30px;
    font-size:small;
}

.outer-well {
    margin : 20px;
}

.submitable-form {
    margin : 10px;
}



#div1 {
    background-color: deeppink;
}


#comet {
    display: none;
}


