@import './hello/hello.scss';


$body-background: #ffffff;
$standard-margin-left: 15px;

body {
    background-color: $body-background;
    font-size:12px;
}


.form-control {
    height:30px;
    font-size:small;
}

.outer-well {
    margin : 20px;
}

.submittable-form-inner {
    margin-left : -15px;
    margin-top : 10px;
    margin-right : 10px;
    margin-bottom : 10px;
}

#createJobBtn, #viewJobCompleteBtn, #viewJobCancelBtn, #logoutBtn {
    margin-left : $standard-margin-left;
}

.leftFloat {
    float:left;
}

.factTable {
    margin-top: 30px;
}






#div1 {
    background-color: deeppink;
}


#comet {
    display: none;
}


