<?xml version="1.0"?>
<IDESettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ScopeJobListUserColumns>Type:1,Name:1,UserName:1,Priority:1,Token:1,SubmitTime:1,StartTime:1,EndTime:1,RunTime:1,JobId:1</ScopeJobListUserColumns>
  <DataLakeJobListUserColumns>Type:0,Name:1,UserName:1,Priority:1,Token:0,SubmitTime:1,StartTime:1,EndTime:1,RunTime:1,JobId:1</DataLakeJobListUserColumns>
  <VertexTableUserColumns>TotalDataRead:1,TotalDataWritten:1,Runtime:1,Machine:1,PeakMemUsage:1,YarnContainerId:1,State:1,ExitStatus:1,ExitCode:1,FailureType:1,CreationReason:1,ScheduleLatency:1,ProcessCreateLatency:1,PnQueueLatency:1,Guid:1,Version:1,CreatorGuid:1,VersionCreatedTime:1,ProcessCreateStartTime:1,ProcessQueuedTime:1,ProcessStartTime:1,ProcessCompleteTime:1,HighPriorityTime:1</VertexTableUserColumns>
  <EnableSQMLog>true</EnableSQMLog>
  <IDESettingWindowWidth>750</IDESettingWindowWidth>
  <IDESettingWindowHeight>520</IDESettingWindowHeight>
  <EnableLegacyRuntime>false</EnableLegacyRuntime>
  <EnablePromoteWarning>false</EnablePromoteWarning>
  <EnableErrorMark>true</EnableErrorMark>
  <EnableDebugScope>false</EnableDebugScope>
  <EnableNewCompilerService>false</EnableNewCompilerService>
  <EnableFlighting>false</EnableFlighting>
  <TempFolderMigration>completed</TempFolderMigration>
  <EnableTempAutoCleaner>false</EnableTempAutoCleaner>
  <TempAutoCleanerFileExpireDays>30</TempAutoCleanerFileExpireDays>
  <TempAutoCleanerExlcudeList />
  <TempAutoCleanerWorkCyclesMinutes>10</TempAutoCleanerWorkCyclesMinutes>
  <TempAutoCleanerStartSnooze>true</TempAutoCleanerStartSnooze>
  <TempAutoCleanerRunOncePerSession>true</TempAutoCleanerRunOncePerSession>
  <TempAutoCleanerEmulationOnly>true</TempAutoCleanerEmulationOnly>
  <TempAutoCleanerEnableLog>true</TempAutoCleanerEnableLog>
  <BugInjectionPattern />
  <EnableDiagnoseDebugLog>false</EnableDiagnoseDebugLog>
  <EnableLogToConsole>false</EnableLogToConsole>
  <EnableIntellisenseMessageCenter>false</EnableIntellisenseMessageCenter>
  <EnableIsolatedProcessForCompile>true</EnableIsolatedProcessForCompile>
  <EnableSQMUpload>true</EnableSQMUpload>
  <EnableSQMDebugLog>false</EnableSQMDebugLog>
  <EnableCompileResultViewEx>true</EnableCompileResultViewEx>
  <CommandLineCompile>false</CommandLineCompile>
  <EnableScriptGuid>true</EnableScriptGuid>
  <EnableAutoUpgrade>true</EnableAutoUpgrade>
  <EnableAsyncIntellisenseEx>true</EnableAsyncIntellisenseEx>
  <EnableBajaFeature>false</EnableBajaFeature>
  <EnableCosmosRuntimeAutoSync>true</EnableCosmosRuntimeAutoSync>
  <MaxReceivedMessageSize>67108864</MaxReceivedMessageSize>
  <SendTimeoutMinutes>10</SendTimeoutMinutes>
  <CDSServiceAddress>https://64.4.8.13:81/StoreService.svc</CDSServiceAddress>
  <UseDefaultEncodedUser>true</UseDefaultEncodedUser>
  <EnableAdvanceFeature>true</EnableAdvanceFeature>
  <Proxy>&lt;noproxy&gt;</Proxy>
  <PersistedInstalltionRoot>C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\Extensions\Microsoft\ADL Tools\2.2.9000.1</PersistedInstalltionRoot>
  <TemporaryDirectory>C:\Users\sacha\Desktop\MadCapIdea\PlayBackEndApi\FrontEndWebSite\DataLakeTemp</TemporaryDirectory>
  <USqlLocalRunMetaDataDirectory>C:\Users\sacha\AppData\Local\USQLDataRoot</USqlLocalRunMetaDataDirectory>
  <LocalRunParallelism>1</LocalRunParallelism>
  <NumberOfNodesForJobGraph>800</NumberOfNodesForJobGraph>
  <NumberOfRowsForPreview>100</NumberOfRowsForPreview>
  <SaveJobLocation>c:\</SaveJobLocation>
  <SelectedJobStatus>None</SelectedJobStatus>
  <MyJobsOnly>false</MyJobsOnly>
  <DiagnoseAllCheckDataSkews>true</DiagnoseAllCheckDataSkews>
  <DiagnoseAllCheckCompilerWarnings>true</DiagnoseAllCheckCompilerWarnings>
  <IsShowingSqlIpUserGuideInServerExplorer>false</IsShowingSqlIpUserGuideInServerExplorer>
  <DefaultNodeContent>Statements</DefaultNodeContent>
  <DefaultView>Script</DefaultView>
</IDESettings>